
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

body { 
    background-color: ghostwhite;
    
}

.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.geo-regular {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}



h1 {
    font-size:57px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Pixelify Sans', sans-serif;
}

p{
    font-size: 20px;
    color: #000000;
    margin-bottom: 5px;
    font-family: 'Geo', sans-serif;
}
.container-1 {
    background-color: #18a8bb;
    text-align: center;
    position: relative;
    top: 100px;

}
.container-2 {
    background-color: #db0a0a;
    text-align: center;
    position: relative;
    top: 100px;
    left: 250px;
    right: 250px;
    
}