@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}

/*font*/
.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.geo-regular {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*navigation bar*/

.navbar ul{
  list-style-type: none;
  background-color: #333;
  overflow: hidden;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
}

.navbar ul:hover{
  background-color: #000000;
}

.navbar li{
  float: left;
}

.logo{
  width: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 50%;
}

/*eliments*/
h1 {
  font-size: 76px;
  color: #333;
  margin-bottom: 20px;
  font-family: "Pixelify Sans", sans-serif;
}

p {
  color: #000000;
  margin-bottom: 5px;
  font-family: "Geo", sans-serif;
}

.container-1 {
  text-align: center;
  position: relative;
  top: 250px;
}
.container-2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
  text-align: auto;
  position: relative;
  top: 250px;
  font-size: 32px;
}

.logo1 {
  float: left;
  margin-right: 20px;
  width: 280px;
}

