body { 
    background-color: ghostwhite;
    
}

.main-container {
      background-color: yellow;
      border: 2px solid black;

}
.container-1 {
    background-color: red;
    width: 200px;
    height: 100px;
    padding: 25px;
    color: white;
}

.container-2 {
    background-color: green;
    width: 200px;
    height: 100px;
    padding: 25px;
    color: white;
}

.container-3 {
    background-color: blue;
    width: 200px;
    height: 100px;
    padding: 25px;
    color: white;
}

